In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_json('./app/result.json')

In [10]:
df.head()

                  title               author  ratings     genre
0   Pride and Prejudice          Jane Austen     4.27  Classics
1                  1984        George Orwell     4.19  Classics
2      The Great Gatsby  F. Scott Fitzgerald     3.93  Classics
3             Jane Eyre     Charlotte Brontë     4.13  Classics
4  Crime and Punishment   Fyodor Dostoyevsky     4.23  Classics

In [4]:
def recommender(genre):
    '''
    Recommend top rated book from same genre.
    If only single book from that genre -> return randomly from all-time top 10
    
    '''
    
    top = df[df['genre'] == genre].sort_values(by='ratings', ascending=False)
    if top.shape[0] > 1:
        return dict(top.iloc[0])
    else:
        return dict(df.sort_values(by='ratings', ascending=False).iloc[:10].sample(1).squeeze())

In [5]:
df['genre'].value_counts()

Classics      55
Fiction       42
Mystery        1
Academic       1
Historical     1
Name: genre, dtype: int64

In [7]:
recommender('Fiction')

{'title': 'Ficciones',
 'author': 'Jorge Luis Borges',
 'ratings': 4.44,
 'genre': 'Fiction'}

In [8]:
df.sort_values(by='ratings', ascending=False).iloc[:10]

,title,author,ratings,genre
56,Ficciones,Jorge Luis Borges,4.44,Fiction
90,Life and Fate,Vasily Grossman,4.43,Fiction
23,East of Eden,John Steinbeck,4.38,Classics
51,In Search of Lost Time,Marcel Proust,4.35,Classics
13,The Brothers Karamazov,Fyodor Dostoyevsky,4.32,Classics
64,"The Maltese Falcon, The Thin Man, Red Harvest",Dashiell Hammett,4.31,Mystery
93,JR,William Gaddis,4.30,Fiction
99,Darconville’s Cat,Alexander Theroux,4.29,Fiction
30,The Master and Margarita,Mikhail Bulgakov,4.29,Classics
57,To Kill a Mockingbird,Harper Lee,4.28,Classics